@-webkit-keyframes iconflotantecorazon1 {
    0% {
        top: 40%; }
    100% {
        top: 43%; }
}
@keyframes iconflotantecorazon1 {
    0% {
        top: 40%; }
    100% {
        top: 43%; }
}

@-webkit-keyframes iconflotanteflor {
    0% {
        top: 30%; }
    100% {
        top: 33%; }
}
@keyframes iconflotanteflor {
    0% {
        top: 30%; }
    100% {
        top: 33%; }
}

@-webkit-keyframes iconflotantemono2 {
    0% {
        top: 10%; }
    100% {
        top: 13%; }
}
@keyframes iconflotantemono2 {
    0% {
        top: 10%; }
    100% {
        top: 13%; }
}

@-webkit-keyframes iconflotantemono {
    0% {
        top: 80%; }
    100% {
        top: 83%; }
}
@keyframes iconflotantemono {
    0% {
        top: 80%; }
    100% {
        top: 83%; }
}

@-webkit-keyframes iconflotantezapato {
    0% {
        top: 90%; }
    100% {
        top: 93%; }
}
@keyframes iconflotantezapato {
    0% {
        top: 90%; }
    100% {
        top: 93%; }
}