.spinner {
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 15px;
    border: 3px solid #b99b25;
    border-radius: 50%;
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .spinner {
        width: 30px;
        height: 30px;
        position: relative;
        margin: 0 auto;
        border: 3px solid #b99b25;
        border-radius: 50%;
        display: none;
    }
}

.spinner:before, .spinner:after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    background-color: #b99b25;
    border-radius: 1.5px;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}
.spinner:before {
    height: 9px;
    left: 13.5px;
    top: 50%;
    -webkit-animation: spin 2000ms linear infinite;
    animation: spin 2000ms linear infinite;
}
.spinner:after {
    height: 12px;
    left: 13.5px;
    top: 50%;
    -webkit-animation: spin 500ms linear infinite;
    animation: spin 500ms linear infinite;
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}