@import url(font/sail-regular/stylesheet.css);
@import url(font/crimson-roman/stylesheet.css);
@import url(css/animaicons.css);
#cortina_mensaje {
  overflow: hidden; }

#loaderglobal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  z-index: 99999; }

.site-header {
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 999; }
  .site-header img {
    margin-top: 20px;
    width: 250px; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-header img {
        width: 180px; } }

.site-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #ffffff; }
  .site-content .home .icons {
    position: fixed;
    width: 100%;
    height: 100%; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .home .icons {
        display: none; } }
    .site-content .home .icons img {
      width: 70px; }
      .site-content .home .icons img.corazon {
        position: absolute;
        top: 40%;
        left: 40%;
        -webkit-animation-name: iconflotantecorazon1;
        -webkit-animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: reverse;
        animation-name: iconflotantecorazon1;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate; }
      .site-content .home .icons img.mono2 {
        position: absolute;
        top: 10%;
        left: 10%;
        -webkit-animation-name: iconflotantemono2;
        -webkit-animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: reverse;
        animation-name: iconflotantemono2;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate; }
      .site-content .home .icons img.flor {
        position: absolute;
        top: 30%;
        right: 20%;
        width: 40px !important;
        -webkit-animation-name: iconflotanteflor;
        -webkit-animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: reverse;
        animation-name: iconflotanteflor;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate; }
      .site-content .home .icons img.mono {
        position: absolute;
        top: 80%;
        right: 20%;
        -webkit-animation-name: iconflotantemono;
        -webkit-animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: reverse;
        animation-name: iconflotantemono;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate; }
      .site-content .home .icons img.zapato {
        position: absolute;
        top: 90%;
        left: 10%;
        -webkit-animation-name: iconflotantezapato;
        -webkit-animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: reverse;
        animation-name: iconflotantezapato;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate; }
  .site-content .home .portada {
    background-image: url("img/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 9999; }
    @media screen and (max-height: 450px) {
      .site-content .home .portada {
        height: auto;
        padding-top: 10%;
        padding-bottom: 20%; } }
    .site-content .home .portada .novia {
      color: #AB902F;
      font-family: 'sailregular';
      font-size: 35px;
      position: absolute;
      top: 45%;
      left: 10%;
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 1px; }
      @media screen and (max-height: 450px) {
        .site-content .home .portada .novia {
          position: relative;
          padding-left: auto;
          padding-right: auto;
          transform: translateX(0%);
          -webkit-transform: translateX(0%);
          -moz-transform: translateX(0%); } }
      @media screen and (min-width: 320px) and (max-width: 1059px) {
        .site-content .home .portada .novia {
          top: 15%;
          left: 50%;
          width: 80%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          font-size: 25px; } }
      @media screen and (min-width: 1060px) and (max-width: 1479px) {
        .site-content .home .portada .novia {
          font-size: 25px; } }
      .site-content .home .portada .novia:after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: #AB902F;
        margin-left: 10px;
        vertical-align: middle;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .home .portada .novia:after {
            margin-left: 0px; } }
      .site-content .home .portada .novia.resaltar:after {
        width: 100%; }
    .site-content .home .portada .novio {
      color: #BE9E4A;
      font-family: 'sailregular';
      font-size: 35px;
      position: absolute;
      top: 45%;
      right: 10%;
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 1px; }
      @media screen and (max-height: 450px) {
        .site-content .home .portada .novio {
          position: relative;
          padding-left: auto;
          padding-right: auto;
          transform: translateX(0%);
          -webkit-transform: translateX(0%);
          -moz-transform: translateX(0%); } }
      @media screen and (min-width: 320px) and (max-width: 1059px) {
        .site-content .home .portada .novio {
          bottom: 20%;
          top: auto;
          right: auto;
          left: 50%;
          width: 80%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          font-size: 25px;
          line-height: 1px; } }
      @media screen and (min-width: 1060px) and (max-width: 1479px) {
        .site-content .home .portada .novio {
          font-size: 25px; } }
      .site-content .home .portada .novio:after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: #BE9E4A;
        margin-left: 10px;
        vertical-align: middle;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
        @media screen and (min-width: 320px) and (max-width: 1059px) {
          .site-content .home .portada .novio:after {
            margin-left: 0px; } }
      .site-content .home .portada .novio.resaltar:after {
        width: 100%; }
    .site-content .home .portada .fecha {
      font-family: 'crimson_textroman';
      color: #AB902F;
      font-size: 35px;
      position: absolute;
      bottom: -10%;
      left: 50%;
      transform: translatex(-50%);
      -webkit-transform: translatex(-50%);
      -moz-transform: translatex(-50%);
      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
      -webkit-transition-delay: 1s;
      /* Safari */
      transition-delay: 1s;
      letter-spacing: 4px; }
      @media screen and (max-height: 650px) {
        .site-content .home .portada .fecha {
          bottom: 5px !important; } }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .home .portada .fecha {
          font-size: 25px; } }
    .site-content .home .portada .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 9999;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      -webkit-transition-delay: 1s;
      /* Safari */
      transition-delay: 1s;
      opacity: 0; }
      @media screen and (max-height: 450px) {
        .site-content .home .portada .logo {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          text-align: center;
          padding-top: 7%;
          padding-bottom: 7%; } }
      .site-content .home .portada .logo img {
        width: 200px; }
        @media screen and (max-height: 450px) {
          .site-content .home .portada .logo img {
            width: 100px; } }
        @media screen and (min-width: 1060px) and (max-width: 1159px) {
          .site-content .home .portada .logo img {
            width: 150px; } }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .home .portada .logo img {
            width: 100px; } }
      .site-content .home .portada .logo.visible {
        opacity: 1; }
  .site-content .home .bienvenido {
    height: 100vh;
    position: relative; }
    @media screen and (min-width: 320px) and (max-width: 800px) {
      .site-content .home .bienvenido {
        height: auto;
        padding-top: 20%;
        padding-bottom: 20%;
        padding-left: 20px;
        padding-right: 20px; } }
    .site-content .home .bienvenido .cuadrado {
      position: absolute;
      display: block;
      right: 15%;
      top: 50%;
      width: 40px;
      height: 40px;
      background: #c39e4e;
      background: -moz-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #c39e4e), color-stop(100%, #dcb780));
      background: -webkit-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: -o-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: -ms-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: linear-gradient(to right, #c39e4e 0%, #dcb780 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39e4e', endColorstr='#dcb780', GradientType=1 ); }
      @media screen and (min-width: 320px) and (max-width: 800px) {
        .site-content .home .bienvenido .cuadrado {
          display: none; } }
    .site-content .home .bienvenido .ene {
      position: absolute;
      bottom: 20px;
      width: 70px;
      left: 58%;
      z-index: 99; }
      @media screen and (min-width: 320px) and (max-width: 639px) {
        .site-content .home .bienvenido .ene {
          top: 40px;
          left: 10%;
          width: 30px; } }
    .site-content .home .bienvenido .content_bienvenida {
      height: 100%;
      position: relative;
      overflow: hidden; }
      .site-content .home .bienvenido .content_bienvenida .texto {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        width: 70%; }
        @media screen and (min-width: 320px) and (max-width: 800px) {
          .site-content .home .bienvenido .content_bienvenida .texto {
            position: relative;
            top: auto;
            left: auto;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%);
            width: 100%; } }
        .site-content .home .bienvenido .content_bienvenida .texto .titulo {
          color: #3A3A3A;
          font-family: 'sailregular';
          font-size: 80px;
          letter-spacing: 1px; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .home .bienvenido .content_bienvenida .texto .titulo {
              font-size: 50px;
              text-align: center; } }
        .site-content .home .bienvenido .content_bienvenida .texto p {
          font-family: 'crimson_textroman';
          color: #808080;
          font-size: 18px;
          letter-spacing: 1px; }
          .site-content .home .bienvenido .content_bienvenida .texto p span {
            color: #4D4D4D; }
    .site-content .home .bienvenido .imagenes {
      height: 100%;
      position: relative;
      overflow: hidden; }
      @media screen and (min-width: 320px) and (max-width: 800px) {
        .site-content .home .bienvenido .imagenes {
          margin-top: 40px; } }
      .site-content .home .bienvenido .imagenes .content_novia {
        height: 600px;
        width: 400px;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        overflow: hidden; }
        @media screen and (min-width: 640px) and (max-width: 1024px) {
          .site-content .home .bienvenido .imagenes .content_novia {
            height: 400px;
            width: 300px; } }
        @media screen and (min-width: 320px) and (max-width: 800px) {
          .site-content .home .bienvenido .imagenes .content_novia {
            position: relative;
            width: 100% !important;
            top: auto;
            left: auto;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%); } }
        .site-content .home .bienvenido .imagenes .content_novia .novia {
          background-image: url("img/novia.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          transition: all 1s ease;
          -moz-transition: all 2s ease;
          -ms-transition: all 2s ease;
          -webkit-transition: all 2s ease;
          -o-transition: all 2s ease;
          overflow: hidden;
          height: 100%; }
          .site-content .home .bienvenido .imagenes .content_novia .novia:hover {
            transform: scale(1.5);
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            -ms-transform: scale(1.5);
            /* IE 9 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
            /* IE8 */
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
            /* IE6 and 7 */ }
          .site-content .home .bienvenido .imagenes .content_novia .novia:after {
            content: '';
            display: block;
            width: 30%;
            height: 1px;
            position: absolute;
            bottom: -20px;
            left: -10%;
            background: #c39e4e;
            background: -moz-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, #c39e4e), color-stop(100%, #dcb780));
            background: -webkit-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
            background: -o-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
            background: -ms-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
            background: linear-gradient(to right, #c39e4e 0%, #dcb780 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c39e4e', endColorstr='#dcb780', GradientType=1); }
      .site-content .home .bienvenido .imagenes .content_ramo {
        height: 200px;
        width: 400px;
        position: absolute;
        top: 70%;
        left: 40%;
        transform: translateY(-70%);
        -webkit-transform: translateY(-70%);
        -moz-transform: translateY(-70%);
        overflow: hidden; }
        @media screen and (min-width: 640px) and (max-width: 1024px) {
          .site-content .home .bienvenido .imagenes .content_ramo {
            height: 200px;
            width: 300px; } }
        @media screen and (min-width: 320px) and (max-width: 800px) {
          .site-content .home .bienvenido .imagenes .content_ramo {
            display: none; } }
        .site-content .home .bienvenido .imagenes .content_ramo .ramo {
          background-image: url("img/ramo.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          transition: all 1s ease;
          -moz-transition: all 2s ease;
          -ms-transition: all 2s ease;
          -webkit-transition: all 2s ease;
          -o-transition: all 2s ease;
          overflow: hidden;
          height: 100%; }
          .site-content .home .bienvenido .imagenes .content_ramo .ramo:hover {
            transform: scale(1.5);
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            -ms-transform: scale(1.5);
            /* IE 9 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
            /* IE8 */
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
            /* IE6 and 7 */ }
  .site-content .home .celebremos {
    height: 100vh;
    position: relative; }
    @media screen and (min-width: 320px) and (max-width: 800px) {
      .site-content .home .celebremos {
        height: auto;
        padding-top: 20%;
        padding-bottom: 20%;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
        width: 100%; } }
    .site-content .home .celebremos .cuadrado {
      position: absolute;
      display: block;
      left: 40%;
      bottom: 10%;
      width: 40px;
      height: 40px;
      background: #c39e4e;
      background: -moz-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #c39e4e), color-stop(100%, #dcb780));
      background: -webkit-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: -o-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: -ms-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: linear-gradient(to right, #c39e4e 0%, #dcb780 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39e4e', endColorstr='#dcb780', GradientType=1 ); }
    .site-content .home .celebremos .letraa {
      position: absolute;
      bottom: 0;
      width: 70px;
      left: 39%;
      z-index: 99; }
      @media screen and (min-width: 320px) and (max-width: 639px) {
        .site-content .home .celebremos .letraa {
          width: 30px; } }
    .site-content .home .celebremos .content_celebremos {
      height: 100%;
      position: relative;
      overflow: hidden; }
      .site-content .home .celebremos .content_celebremos .texto {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        width: 70%; }
        @media screen and (min-width: 320px) and (max-width: 800px) {
          .site-content .home .celebremos .content_celebremos .texto {
            position: relative;
            top: auto;
            left: auto;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%);
            width: 100%;
            order: 1; } }
        .site-content .home .celebremos .content_celebremos .texto .titulo {
          color: #3A3A3A;
          font-family: 'sailregular';
          font-size: 80px;
          letter-spacing: 1px; }
          @media screen and (min-width: 320px) and (max-width: 1024px) {
            .site-content .home .celebremos .content_celebremos .texto .titulo {
              font-size: 50px;
              text-align: center; } }
        .site-content .home .celebremos .content_celebremos .texto p {
          font-family: 'crimson_textroman';
          color: #808080;
          font-size: 18px;
          letter-spacing: 1px; }
          .site-content .home .celebremos .content_celebremos .texto p span {
            color: #4D4D4D; }
    .site-content .home .celebremos .imagenes {
      height: 100%;
      position: relative;
      overflow: hidden; }
      @media screen and (min-width: 320px) and (max-width: 800px) {
        .site-content .home .celebremos .imagenes {
          order: 2;
          margin-top: 40px; } }
      .site-content .home .celebremos .imagenes .content_mesa {
        height: 600px;
        width: 400px;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        overflow: hidden; }
        @media screen and (min-width: 640px) and (max-width: 1024px) {
          .site-content .home .celebremos .imagenes .content_mesa {
            height: 400px;
            width: 300px; } }
        @media screen and (min-width: 320px) and (max-width: 800px) {
          .site-content .home .celebremos .imagenes .content_mesa {
            position: relative;
            width: 100% !important;
            top: auto;
            left: auto;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%); } }
        .site-content .home .celebremos .imagenes .content_mesa .mesa {
          background-image: url("img/mesa.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          background-color: rgba(128, 128, 128, 0.25);
          background-blend-mode: screen;
          transition: all 1s ease;
          -moz-transition: all 2s ease;
          -ms-transition: all 2s ease;
          -webkit-transition: all 2s ease;
          -o-transition: all 2s ease;
          overflow: hidden;
          height: 100%; }
          .site-content .home .celebremos .imagenes .content_mesa .mesa:hover {
            transform: scale(1.5);
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            -ms-transform: scale(1.5);
            /* IE 9 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
            /* IE8 */
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
            /* IE6 and 7 */ }
      .site-content .home .celebremos .imagenes .content_local {
        height: 200px;
        width: 400px;
        position: absolute;
        top: 90%;
        left: 15%;
        transform: translateY(-90%);
        -webkit-transform: translateY(-90%);
        -moz-transform: translateY(-90%);
        overflow: hidden; }
        @media screen and (min-width: 640px) and (max-width: 1024px) {
          .site-content .home .celebremos .imagenes .content_local {
            height: 200px;
            width: 300px; } }
        @media screen and (min-width: 320px) and (max-width: 800px) {
          .site-content .home .celebremos .imagenes .content_local {
            display: none; } }
        .site-content .home .celebremos .imagenes .content_local .local {
          background-image: url("img/salon.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          background-color: rgba(128, 128, 128, 0.25);
          background-blend-mode: screen;
          transition: all 1s ease;
          -moz-transition: all 2s ease;
          -ms-transition: all 2s ease;
          -webkit-transition: all 2s ease;
          -o-transition: all 2s ease;
          overflow: hidden;
          height: 100%; }
          .site-content .home .celebremos .imagenes .content_local .local:hover {
            transform: scale(1.5);
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            -ms-transform: scale(1.5);
            /* IE 9 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
            /* IE8 */
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
            /* IE6 and 7 */ }
          .site-content .home .celebremos .imagenes .content_local .local:before {
            content: '';
            display: block;
            width: 20%;
            height: 1px;
            position: absolute;
            margin-top: -30px;
            left: -10%;
            background: #c39e4e;
            background: -moz-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, #c39e4e), color-stop(100%, #dcb780));
            background: -webkit-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
            background: -o-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
            background: -ms-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
            background: linear-gradient(to right, #c39e4e 0%, #dcb780 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c39e4e', endColorstr='#dcb780', GradientType=1); }
  .site-content .home .recuerdas {
    height: auto;
    padding-top: 15%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    overflow: hidden; }
    @media screen and (min-width: 640px) and (max-width: 800px) {
      .site-content .home .recuerdas {
        padding-top: 5% !important; } }
    .site-content .home .recuerdas .ene {
      position: absolute;
      top: 20%;
      width: 70px;
      left: 20%; }
      @media screen and (min-width: 640px) and (max-width: 1024px) {
        .site-content .home .recuerdas .ene {
          left: 10%; } }
      @media screen and (min-width: 320px) and (max-width: 639px) {
        .site-content .home .recuerdas .ene {
          width: 30px; } }
    .site-content .home .recuerdas .titulo {
      color: #3A3A3A;
      font-family: 'sailregular';
      font-size: 80px;
      text-align: center;
      letter-spacing: 1px;
      position: relative; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .home .recuerdas .titulo {
          font-size: 50px; } }
      .site-content .home .recuerdas .titulo:before {
        content: '';
        display: block;
        width: 5%;
        height: 1px;
        position: absolute;
        margin-top: -30px;
        left: 20%;
        background: #c39e4e;
        background: -moz-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #c39e4e), color-stop(100%, #dcb780));
        background: -webkit-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -o-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -ms-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: linear-gradient(to right, #c39e4e 0%, #dcb780 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39e4e', endColorstr='#dcb780', GradientType=1 ); }
    .site-content .home .recuerdas .texto {
      width: 40%;
      margin: 0 auto;
      padding-top: 20px;
      letter-spacing: 1px; }
      @media screen and (min-width: 640px) and (max-width: 1024px) {
        .site-content .home .recuerdas .texto {
          width: 60%;
          padding-top: 10px; } }
      @media screen and (min-width: 320px) and (max-width: 639px) {
        .site-content .home .recuerdas .texto {
          width: 100%;
          padding-left: 15px;
          padding-right: 15px;
          position: inherit; } }
      .site-content .home .recuerdas .texto:after {
        content: '';
        display: block;
        position: absolute;
        right: 10%;
        width: 5%;
        height: 1px;
        background: #c39e4e;
        background: -moz-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #c39e4e), color-stop(100%, #dcb780));
        background: -webkit-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -o-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -ms-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: linear-gradient(to right, #c39e4e 0%, #dcb780 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39e4e', endColorstr='#dcb780', GradientType=1 ); }
      .site-content .home .recuerdas .texto p {
        font-family: 'crimson_textroman';
        color: #808080;
        font-size: 18px;
        text-align: justify; }
    .site-content .home .recuerdas .content_recuerdos {
      height: auto;
      position: relative;
      margin-top: 40px; }
      @media screen and (min-width: 640px) {
        .site-content .home .recuerdas .content_recuerdos {
          -webkit-column-count: 4;
          /* Chrome, Safari, Opera */
          -moz-column-count: 4;
          /* Firefox */
          column-count: 4;
          -webkit-column-gap: 0px;
          /* Chrome, Safari, Opera */
          -moz-column-gap: 0px;
          /* Firefox */
          column-gap: 0px;
          height: 500px; } }
      .site-content .home .recuerdas .content_recuerdos #cortina_recuerdos {
        background-color: rgba(255, 255, 255, 0.45) !important; }
      .site-content .home .recuerdas .content_recuerdos .item_recuerdo {
        overflow: hidden;
        padding: 10px; }
        .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(1) {
          height: 500px; }
          @media screen and (min-width: 640px) {
            .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(1) {
              height: 100%; } }
        .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(2) {
          height: 250px; }
          @media screen and (min-width: 640px) {
            .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(2) {
              height: 50%; } }
        .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(3) {
          height: 250px; }
          @media screen and (min-width: 640px) {
            .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(3) {
              height: 50%; } }
        .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(4) {
          height: 500px; }
          @media screen and (min-width: 640px) {
            .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(4) {
              height: 100%; } }
        .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(5) {
          height: 250px; }
          @media screen and (min-width: 640px) {
            .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(5) {
              height: 50%; } }
        .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(6) {
          height: 250px; }
          @media screen and (min-width: 640px) {
            .site-content .home .recuerdas .content_recuerdos .item_recuerdo:nth-of-type(6) {
              height: 50%; } }
        .site-content .home .recuerdas .content_recuerdos .item_recuerdo .imagengal {
          background-size: cover;
          background-repeat: no-repeat !important;
          background-position: center center;
          height: 100%; }
          .site-content .home .recuerdas .content_recuerdos .item_recuerdo .imagengal .heart {
            color: #AB902F;
            background-color: rgba(255, 255, 255, 0.7);
            height: auto;
            overflow: hidden; }
            .site-content .home .recuerdas .content_recuerdos .item_recuerdo .imagengal .heart:before {
              font-size: 24px; }
            .site-content .home .recuerdas .content_recuerdos .item_recuerdo .imagengal .heart .heartvacio {
              float: left;
              cursor: pointer; }
              .site-content .home .recuerdas .content_recuerdos .item_recuerdo .imagengal .heart .heartvacio.invisible {
                display: none; }
              .site-content .home .recuerdas .content_recuerdos .item_recuerdo .imagengal .heart .heartvacio.visible {
                display: block; }
            .site-content .home .recuerdas .content_recuerdos .item_recuerdo .imagengal .heart .heartlleno {
              float: left;
              cursor: pointer; }
              .site-content .home .recuerdas .content_recuerdos .item_recuerdo .imagengal .heart .heartlleno.invisible {
                display: none; }
              .site-content .home .recuerdas .content_recuerdos .item_recuerdo .imagengal .heart .heartlleno.visible {
                display: block; }
          .site-content .home .recuerdas .content_recuerdos .item_recuerdo .imagengal .likes {
            color: #AB902F;
            font-family: 'crimson_textroman';
            font-size: 18px;
            vertical-align: text-top;
            margin-left: 10px; }
    .site-content .home .recuerdas .next {
      position: absolute;
      right: 20px;
      top: 65%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%); }
      @media screen and (min-width: 320px) and (max-width: 639px) {
        .site-content .home .recuerdas .next {
          position: relative;
          float: right;
          top: auto;
          transform: translateY(0%);
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          margin-top: 20px; } }
      .site-content .home .recuerdas .next img {
        width: 50px;
        height: 50px; }
    .site-content .home .recuerdas .prev {
      position: absolute;
      left: 20px;
      top: 65%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%); }
      @media screen and (min-width: 320px) and (max-width: 639px) {
        .site-content .home .recuerdas .prev {
          position: relative;
          float: left;
          top: auto;
          transform: translateY(0%);
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          margin-top: 20px; } }
      .site-content .home .recuerdas .prev img {
        width: 50px;
        height: 50px; }
    .site-content .home .recuerdas #spinner_recuerdos {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      z-index: 99999; }
  .site-content .home .dinosalgo {
    height: auto;
    padding-top: 15%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    overflow: hidden; }
    .site-content .home .dinosalgo .letraa {
      position: absolute;
      bottom: -25%;
      width: 50px;
      right: 30%; }
      @media screen and (min-width: 320px) and (max-width: 639px) {
        .site-content .home .dinosalgo .letraa {
          width: 30px; } }
      @media screen and (min-width: 640px) and (max-width: 800px) {
        .site-content .home .dinosalgo .letraa {
          width: 70px; } }
    .site-content .home .dinosalgo .titulo {
      color: #3A3A3A;
      font-family: 'sailregular';
      font-size: 80px;
      letter-spacing: 1px; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .home .dinosalgo .titulo {
          font-size: 50px;
          text-align: center; } }
    .site-content .home .dinosalgo .texto {
      padding-top: 20px;
      position: relative; }
      @media screen and (min-width: 640px) and (max-width: 1024px) {
        .site-content .home .dinosalgo .texto {
          padding-top: 10px; } }
      .site-content .home .dinosalgo .texto:after {
        content: '';
        display: block;
        position: absolute;
        right: -5%;
        width: 7%;
        height: 1px;
        background: #c39e4e;
        background: -moz-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #c39e4e), color-stop(100%, #dcb780));
        background: -webkit-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -o-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -ms-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: linear-gradient(to right, #c39e4e 0%, #dcb780 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39e4e', endColorstr='#dcb780', GradientType=1 ); }
      .site-content .home .dinosalgo .texto p {
        font-family: 'crimson_textroman';
        color: #808080;
        font-size: 18px;
        letter-spacing: 1px; }
    .site-content .home .dinosalgo .form_mensaje {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 5%; }
      .site-content .home .dinosalgo .form_mensaje .nombre {
        margin-bottom: 20px;
        width: 50%;
        padding: 10px;
        border: 1px solid #8A8A8A;
        font-family: 'crimson_textroman';
        color: #808080;
        letter-spacing: 1px; }
        @media screen and (min-width: 320px) and (max-width: 1024px) {
          .site-content .home .dinosalgo .form_mensaje .nombre {
            width: 100%; } }
      .site-content .home .dinosalgo .form_mensaje .mensaje {
        border: 1px solid #8A8A8A;
        box-shadow: none;
        font-family: 'crimson_textroman';
        color: #808080;
        letter-spacing: 1px; }
      .site-content .home .dinosalgo .form_mensaje .enviar_mensaje {
        background: #c39e4e;
        background: -moz-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #c39e4e), color-stop(100%, #dcb780));
        background: -webkit-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -o-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -ms-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: linear-gradient(to right, #c39e4e 0%, #dcb780 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39e4e', endColorstr='#dcb780', GradientType=1 );
        border: none;
        padding: 5px;
        color: #ffffff;
        font-family: 'crimson_textroman';
        font-size: 20px;
        width: 20%;
        float: right; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .home .dinosalgo .form_mensaje .enviar_mensaje {
            width: 100%;
            float: none; } }
      .site-content .home .dinosalgo .form_mensaje .respuesta {
        font-family: 'sailregular';
        font-size: 20px;
        color: #3A3A3A; }
    .site-content .home .dinosalgo .content_carosel {
      padding-top: 40px; }
      .site-content .home .dinosalgo .content_carosel .item {
        border: 1px solid #C39D4E;
        padding: 40px;
        cursor: pointer;
        height: 250px; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .home .dinosalgo .content_carosel .item {
            height: auto;
            overflow: hidden; } }
        .site-content .home .dinosalgo .content_carosel .item #spinner_mensajes {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          margin-top: 0px; }
        .site-content .home .dinosalgo .content_carosel .item p {
          font-family: 'crimson_textroman';
          color: #808080;
          font-size: 18px;
          text-align: left;
          letter-spacing: 1px; }
          .site-content .home .dinosalgo .content_carosel .item p.persona {
            color: #4D4D4D;
            font-size: 18px;
            font-family: 'crimson_textroman';
            font-style: italic;
            float: right; }
          .site-content .home .dinosalgo .content_carosel .item p span {
            margin-left: 5px; }
      .site-content .home .dinosalgo .content_carosel .owl-prev {
        color: transparent;
        background-image: url("img/navleft.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-color: transparent;
        position: absolute;
        left: -5%;
        top: 50%;
        transform: translatey(-50%);
        -webkit-transform: translatey(-50%);
        -moz-transform: translatey(-50%);
        width: 50px;
        height: 50px; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .home .dinosalgo .content_carosel .owl-prev {
            position: relative;
            left: 0;
            top: auto;
            transform: translatey(0%);
            -webkit-transform: translatey(0%);
            -moz-transform: translatey(0%);
            float: left;
            margin-top: 30px; } }
      .site-content .home .dinosalgo .content_carosel .owl-next {
        color: transparent;
        background-image: url("img/navright.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-color: transparent;
        position: absolute;
        right: -5%;
        top: 50%;
        transform: translatey(-50%);
        -webkit-transform: translatey(-50%);
        -moz-transform: translatey(-50%);
        width: 50px;
        height: 50px; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .home .dinosalgo .content_carosel .owl-next {
            position: relative;
            left: 0;
            top: auto;
            transform: translatey(0%);
            -webkit-transform: translatey(0%);
            -moz-transform: translatey(0%);
            float: right;
            margin-top: 30px; } }
  .site-content .home .contacto {
    background-image: url("img/fondo2.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
    position: relative; }
    @media screen and (min-width: 320px) and (max-width: 639px) {
      .site-content .home .contacto {
        height: auto; } }
    .site-content .home .contacto .cuadrado {
      position: absolute;
      display: block;
      left: 10%;
      top: 10%;
      width: 40px;
      height: 40px;
      background: #c39e4e;
      background: -moz-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #c39e4e), color-stop(100%, #dcb780));
      background: -webkit-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: -o-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: -ms-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
      background: linear-gradient(to right, #c39e4e 0%, #dcb780 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39e4e', endColorstr='#dcb780', GradientType=1 ); }
      @media screen and (min-width: 320px) and (max-width: 639px) {
        .site-content .home .contacto .cuadrado {
          width: 20px;
          height: 20px; } }
    .site-content .home .contacto .titulo {
      color: #FFFFFF;
      font-family: 'sailregular';
      font-size: 80px;
      line-height: 60px;
      letter-spacing: 1px; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .home .contacto .titulo {
          font-size: 50px;
          line-height: 50px;
          text-align: center; } }
    .site-content .home .contacto p {
      font-family: 'crimson_textroman';
      color: #FFFFFF;
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 30px;
      letter-spacing: 1px; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .home .contacto p {
          padding-left: 15px;
          padding-right: 15px; } }
    .site-content .home .contacto .form_contacto {
      margin-top: 50px;
      height: 100%;
      position: relative; }
      .site-content .home .contacto .form_contacto:after {
        content: '';
        display: block;
        width: 10%;
        height: 1px;
        position: absolute;
        top: 10%;
        left: 20%;
        background: #c39e4e;
        background: -moz-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #c39e4e), color-stop(100%, #dcb780));
        background: -webkit-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -o-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: -ms-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
        background: linear-gradient(to right, #c39e4e 0%, #dcb780 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39e4e', endColorstr='#dcb780', GradientType=1 ); }
      .site-content .home .contacto .form_contacto .center {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translatey(-50%);
        -webkit-transform: translatey(-50%);
        -moz-transform: translatey(-50%); }
        @media screen and (min-width: 320px) and (max-width: 639px) {
          .site-content .home .contacto .form_contacto .center {
            position: relative;
            top: auto;
            left: auto;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%);
            width: 100%; } }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .home .contacto .form_contacto .center .form {
            padding-left: 15px;
            padding-right: 15px; } }
        .site-content .home .contacto .form_contacto .center .form label {
          font-family: 'crimson_textroman';
          color: #FFFFFF;
          font-size: 18px; }
        .site-content .home .contacto .form_contacto .center .form input[type="text"] {
          background-color: transparent;
          border: 1px solid #BCBCBC;
          font-family: 'crimson_textroman';
          color: #FFFFFF; }
        .site-content .home .contacto .form_contacto .center .form input[type="email"] {
          background-color: transparent;
          border: 1px solid #BCBCBC;
          font-family: 'crimson_textroman';
          color: #FFFFFF; }
        .site-content .home .contacto .form_contacto .center .form input[type="tel"] {
          background-color: transparent;
          border: 1px solid #BCBCBC;
          font-family: 'crimson_textroman';
          color: #FFFFFF; }
        .site-content .home .contacto .form_contacto .center .form input[type="submit"] {
          background: #c39e4e;
          background: -moz-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, #c39e4e), color-stop(100%, #dcb780));
          background: -webkit-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
          background: -o-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
          background: -ms-linear-gradient(left, #c39e4e 0%, #dcb780 100%);
          background: linear-gradient(to right, #c39e4e 0%, #dcb780 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c39e4e', endColorstr='#dcb780', GradientType=1);
          border: none;
          padding: 5px;
          color: #ffffff;
          font-family: 'crimson_textroman';
          font-size: 20px;
          width: 20%;
          float: right;
          margin-top: 20px; }
          @media screen and (min-width: 640px) and (max-width: 1024px) {
            .site-content .home .contacto .form_contacto .center .form input[type="submit"] {
              width: 40%; } }
          @media screen and (min-width: 320px) and (max-width: 639px) {
            .site-content .home .contacto .form_contacto .center .form input[type="submit"] {
              width: 100%;
              margin-bottom: 30px; } }
    .site-content .home .contacto .mapa {
      padding-left: 5%;
      padding-right: 5%;
      height: 100%;
      position: relative; }
      .site-content .home .contacto .mapa .center {
        position: absolute;
        top: 50%;
        right: 20%;
        transform: translatey(-50%);
        -webkit-transform: translatey(-50%);
        -moz-transform: translatey(-50%);
        width: 50%; }
        @media screen and (min-width: 320px) and (max-width: 639px) {
          .site-content .home .contacto .mapa .center {
            position: relative;
            top: auto;
            left: auto;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%);
            width: 100%;
            right: auto;
            padding-left: 15px;
            padding-right: 15px; } }
        .site-content .home .contacto .mapa .center .imgmapa {
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          height: 500px; }
          @media screen and (min-width: 640px) and (max-width: 1024px) {
            .site-content .home .contacto .mapa .center .imgmapa {
              height: 300px; } }
          @media screen and (min-width: 320px) and (max-width: 639px) {
            .site-content .home .contacto .mapa .center .imgmapa {
              height: 350px; } }
        .site-content .home .contacto .mapa .center .lugar {
          font-family: 'crimson_textroman';
          color: #C3AA5D;
          margin-top: 10px;
          margin-left: -5%; }
          @media screen and (min-width: 320px) and (max-width: 639px) {
            .site-content .home .contacto .mapa .center .lugar {
              margin-bottom: 0px; } }
          .site-content .home .contacto .mapa .center .lugar:before {
            content: '';
            display: inline-block;
            width: 50px;
            height: 2px;
            background-color: #C3AA5D;
            margin-right: 10px;
            vertical-align: middle; }
        .site-content .home .contacto .mapa .center .direccion {
          font-family: 'crimson_textroman';
          color: #C3AA5D;
          margin-top: 40px; }
          @media screen and (min-width: 320px) and (max-width: 639px) {
            .site-content .home .contacto .mapa .center .direccion {
              margin-bottom: 0px;
              margin-top: 0px; } }
          .site-content .home .contacto .mapa .center .direccion:after {
            content: '';
            display: inline-block;
            width: 50px;
            height: 2px;
            background-color: #C3AA5D;
            margin-left: 10px;
            vertical-align: middle; }
  .site-content .home .showmensaje {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    z-index: 9999;
    display: none; }
    .site-content .home .showmensaje .closemensaje {
      color: #fff;
      font-size: 40px;
      position: absolute;
      top: -70px;
      right: 0px;
      display: block;
      width: 40px; }
    .site-content .home .showmensaje .contenido {
      background-color: #fff;
      padding: 20px;
      border: 3px solid #C3AA5D;
      height: auto;
      overflow: hidden; }
      .site-content .home .showmensaje .contenido p {
        font-family: 'crimson_textroman';
        color: #808080;
        font-size: 18px;
        letter-spacing: 1px; }
        .site-content .home .showmensaje .contenido p.persona {
          color: #4D4D4D;
          font-size: 18px;
          font-family: 'crimson_textroman';
          font-style: italic;
          float: right; }

/*# sourceMappingURL=style.css.map */
